*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #011627;
    /* background:linear-gradient(rgba(11, 36, 51, 0.692), rgba(17, 99, 175, 0)), url("https://media.giphy.com/media/fQZX2aoRC1Tqw/giphy.gif"); */
    background-position: center;
    background-size: cover;
    color: white;
}

body, .qoute-input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-color: rgb(18, 105, 163);
    padding: 1rem;
    border-radius: .5rem;
    width: 500px;
    max-width: 90%;
}

.timer{
    position: absolute;
    top: 3rem;
    right: 4rem;
    font-size: 2.5rem;
}

.qoute-display{
    font-size: 25px;
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.qoute-input{
    background-color: transparent;
    border: 2px solid  rgb(118, 194, 245);
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
}
.qoute-input:focus{
    border-color: black;
}

.correct{
    color: rgb(212, 248, 7);
}

.incorrect{
    color: red;
    text-decoration: underline;
}
